img {
  width: 100%;
  height: auto;
}

a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #000000;
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.small-container {
  max-width: 760px;
  margin: 80px auto 0;
}

.common__ttl {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

.common__sub-ttl {
  font-size: 16px;
  font-family: "Indie Flower", cursive;
  color: #b31566;
}

/*--------------------- header--------------------- */

.header {
  height: 70px;
  line-height: 70px;
}

.header__logo {
  width: 150px;
  margin-left: 40px;
}

.header__nav {
  margin-right: 40px;
}

.header__nav-list li {
  margin-right: 25px;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__nav-list-link {
  height: 70px;
  display: inline-block;
}

.header__img {
  background-image: url(../CS/img/mv.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__img-text {
  color: #fff;
}

.header__img-text-2 {
  color: #fff;
}

/*---------------------about--------------------- */

#about {
  background: #000000;
  padding: 40px 0;
}

#about .common__ttl {
  text-align: left;
  color: #fff;
}

.about__item {
  margin-top: 30px;
  color: #fff;
}

/*---------------------service--------------------- */
.service__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.card {
  width: 45%;
  justify-content:center;
}

.card-text {
  font-weight: bold;
}

.card__img1 {
  flex-wrap: wrap;
  padding: 10px 10px;
  margin: 10px;
  height: 250px;
  width: 600px;
  background-image: url(../CS/img/service1.png);
}

.card__img2 {
  padding: 10px;
  margin: 10px;
  height: 250px;
  width: 600px;
  background-image: url(../CS/img/service2.png);
}

.card__img3 {
  padding: 10px;
  margin: 10px;
  height: 250px;
  width: 600px;
  background-image: url(../CS/img/service3.png);
}

.card__img4 {
  padding: 10px;
  margin: 10px;
  height: 250px;
  width: 600px;
  background-image: url(../CS/img/service4.png);
}

.service__link {
  width: 300px;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 30px;
  background: #ff0000;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
}

/*---------------------news--------------------- */

.multicheck {
  list-style: none;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  padding: 70px;
  background-color: #000000;
}

.common__ttl {
  color: #fff;
}

.multicheck .multicheck-item {
  margin: 5px 0;
  padding: 0;
}

.multicheck input[type="checkbox"] {
  display: none;
}

.multicheck input[type="checkbox"].multicheck-input:checked+label {
  background: #fff;
  color: #333333;
  border: 2px solid #000000;
}

.multicheck .multicheck-label {
  display: block;
  width: 100%;
  height: 50px;
  padding: 40px;
  text-align: left;
  line-height: 45px;
  padding: 0 5px;
  cursor: pointer;
  color: #333333;
  border: 2px solid #000000;
  background: #fff;
  transition: 0.5s;
}

.multicheck .multicheck-label:hover {
  background-color: #fff;
  border: 2px solid #000000;
}
/*---------------------blog--------------------- */
#blog {
  background: #fff;
  padding: 20px;
  margin-top: 80px;
}

.blog-wrap {
  margin-top: 10px;
}

.blog-wrap__item {
  width: 60%;
  padding: 20px;
  position: relative;
  display: block;
}

.blog-wrap__item-content {
  background: #fff;
  padding: 10px;
  margin-top: -7px;
}

.blog-wrap__item-content-tag {
  font-size: 14px;
}

.blog__link {
  width: 300px;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 30px;
  background: #ff0000;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
}

.blog__link:hover {
  background-color: #b31566;
  color: #fff;
  transition: 0.4s;
}

/*---------------------recruit--------------------- */

#recruit {
  margin-top: 80px;
}

.recruit__item {
  height: 250px;
  position: relative;
  width: 50%;
  display: block;
  transition: 0.4s;
}

.recruit__item:hover {
  filter: opacity(40%);
  transition: 0.4s;
}

.recruit__item--first {
  background: #ff0000;
  background-size: cover;
}

.recruit__item--second {
  background: #000000;
  background-size: cover;
}

.recruit__item-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

/*---------------------contact--------------------- */

#contact {
  margin-top: 80px;
  background-color: #f5f5f5;
  padding: 40px 0;
}

.contact__ttl {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}

.contact__ttl-first {
  text-align: center;
  padding-bottom: 20px;
}

.contact__btn {
  width: 300px;
  display: block;
  padding: 10px 0 10px;
  margin: 0 auto;
  background: #ff0000;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
}

.contact__btn::after {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/mailicon.svg) no-repeat;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

/*---------------------footer--------------------- */
.footer {
  height: 60px;
  line-height: 60px;
}

.footer__logo {
  width: 150px;
  margin-left: 40px;
}

.footer__nav {
  margin-right: 40px;
}

.footer__nav-list li {
  margin: 0;
  padding: 0 20px;
  height: 30px;
  border-left: 1px #808080 solid;
}

.footer__nav-list li:first-child {
  padding-left: 0;
  border: none;
}

.footer__nav-list li:last-child {
  margin-right: 0;
}

.footer__nav-list-link {
  height: 70px;
  display: inline-block;
}
