a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  color: #000000;
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.small-container {
  max-width: 760px;
  margin: 80px auto 0;
}

.common__ttl {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  position: relative;
}

/*--------------------- header--------------------- */

.header {
  height: 70px;
  line-height: 70px;
}

.header_img_block {
  text-align: center;
}

.header__img-text {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

.header__img-text-2 {
  color: #fff;
  font-weight: bold;
}

.header__logo {
  width: 150px;
  margin-left: 40px;
}

.header__nav {
  margin-right: 40px;
}

.header__nav-list li {
  margin-right: 25px;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__nav-list-link {
  height: 70px;
  display: inline-block;
  font-weight: bold;
}

.header__nav-list-link:hover {
  filter: opacity(40%);
  transition: 0.4s;
}

.menu {
  display: none;
}

.drawer-nav {
  display: none;
}

.header__img {
  background-image: url(../CS/img/mv.png);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*---------------------about--------------------- */

#about {
  background: #000000;
  padding: 100px;
}

#about .common__ttl {
  text-align: left;
  color: #fff;
}

.about__item {
  margin-top: 30px;
  color: #fff;
}

/*---------------------service--------------------- */
.service__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.service__ttl{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
}

.card {
  width: 45%;
  margin: 0 auto;
}

.card-text {
  font-weight: bold;
}

.card__img1 {
  flex-wrap: wrap;
  padding: 10px 10px;
  margin: 10px;
  height: 250px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../CS/img/service1.png);
}

.card__img2 {
  padding: 10px;
  margin: 10px;
  height: 250px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../CS/img/service2.png);
}

.card__img3 {
  padding: 10px;
  margin: 10px;
  height: 250px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../CS/img/service3.png);
}

.card__img4 {
  padding: 10px;
  margin: 10px;
  height: 250px;
  width: 100%;
  box-sizing: border-box;
  background-image: url(../CS/img/service4.png);
}

.service__link {
  width: 300px;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 30px;
  background: #ff0000;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
}

/*---------------------news--------------------- */

.u-mb-20 {
  background-color: #000000;
  margin-top: 80px;
}

.multi {
  font-weight: bold;
  padding-left: 30px;
}

.news__link {
  width: 200px;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  background: #ff0000;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
  margin-right: 60px;
}

.multicheck {
  list-style: none;
  max-width: 100%;
  margin: 0 auto;
  padding: 70px;
  
}

.common__ttl_n{
  color: #fff;
  position: absolute;
  margin-top: 20px;
  margin-left: 60px;
}

.multicheck .multicheck-item {
  margin: 5px 0;
  padding: 0;
  position: relative;
}

.multicheck input[type="checkbox"] {
  display: none;
}

.multicheck input[type="checkbox"].multicheck-input:checked+label {
  background: #fff;
  color: #333333;
  border: 2px solid #000000;
}

.multicheck .multicheck-label {
  display: block;
  width: 100%;
  height: 50px;
  padding: 40px;
  text-align: left;
  line-height: 45px;
  padding: 0 5px;
  cursor: pointer;
  border: 2px solid #000000;
  background: #fff;
  transition: 0.5s;
}

.multicheck .multicheck-label:hover {
  background-color: #EEEEEE;
  filter: opacity(40%);
  transition: 0.4s;
}

/*---------------------blog--------------------- */
#blog {
  background: #fff;
  margin: 0 auto;
  margin-top: 80px;
}

.blog-wrap {
  margin-top: 10px;
}

.blog-wrap__item {
  padding: 20px;
  position: relative;
  display: block;
  width: 400px;
}

.blog-wrap__item img {
  width: 100%;
}

.blog-wrap__item:hover {
  filter: opacity(40%);
  transition: 0.4s;
}

.blog-wrap__item-content {
  background: #fff;
  padding: 10px;
  margin-top: -7px;
}

.blog-wrap__item-content-tag {
  font-size: 14px;
}

.blog__link {
  width: 300px;
  display: block;
  padding: 10px 0;
  margin: 0 auto;
  margin-top: 30px;
  background: #ff0000;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
}

.blog__link:hover {
  background-color: #fff;
  color: #fff;
  transition: 0.4s;
}

/*---------------------recruit--------------------- */

#recruit {
  margin-top: 80px;
}

.flex__item_recruit {
  display: flex;
  justify-content: space-between;
}

.recruit__item {
  height: 250px;
  position: relative;
  width: 50%;
  display: block;
  transition: 0.4s;
}

.recruit__item:hover {
  filter: opacity(40%);
  transition: 0.4s;
}

.recruit__item--first {
  background: #ff0000;
  background-size: cover;
}

.recruit__item--second {
  background: #000000;
  background-size: cover;
}

.recruit__item-ttl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 30px;
}

/*---------------------contact--------------------- */

#contact {
  margin-top: 80px;
  background-color: #f5f5f5;
  padding: 40px 0;
}

.contact__ttl {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 20px;
}

.contact__ttl-first {
  text-align: center;
  padding-bottom: 20px;
}

.contact__btn {
  width: 300px;
  display: block;
  padding: 10px 0 10px;
  margin: 0 auto;
  background: #ff0000;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
}

.contact__btn::after {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/mailicon.svg) no-repeat;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}

/*---------------------footer--------------------- */
.footer {
  height: 60px;
  line-height: 60px;
  color: #fff;
  background-color: #000000;
}

.footer__logo {
  width: 150px;
  margin-left: 40px;
}

.footer__nav {
  margin-right: 40px;

}

.footer__nav-list li {
  margin: 0;
  padding: 0 20px;
  height: 30px;
  border-left: 1px #808080 solid;
}

.footer__nav-list li:first-child {
  padding-left: 0;
  border: none;
}

.footer__nav-list li:last-child {
  margin-right: 0;
}

.footer__nav-list-link {
  height: 30px;
  display: inline-block;
  color: #fff;
}

/*------------------------------------------ */
@media screen and (max-width: 768px) {
  .flex__item
  .service__container 
  .blog-wrap__item {
    display: block;
  }
    
  .header__nav {
      display: none;
    }
    
    .menu {
      display: inline-block;
      width: 36px;
      height: 32px;
      cursor: pointer;
      position: relative;
      z-index: 10;
    }
    
    .menu-line-one,
    .menu-line-two,
    .menu-line-three {
      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: #000;
      position: absolute;
      transition: 0.5s;
    }
    
    .menu-line-one {
      top: 0;
    }
    
    .menu-line-two {
      top: 14px;
    }
    
    .menu-line-three {
      bottom: 0;
    }
    
    .menu.open span:nth-of-type(1) {
      top: 14px;
      transform: rotate(45deg);
    }
    
    .menu.open span:nth-of-type(2) {
      opacity: 0;
    }
    
    .menu.open span:nth-of-type(3) {
      top: 14px;
      transform: rotate(-45deg);
    }
    
    .drawer-nav {
      display: block;
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      left: -100%;
      background: #fff;
      transition: .7s;
    }
    
    .drawer-nav-list {
      padding-top: 80px;
      text-align: center;
    }

      .footer {
        padding: 4% 2%;
      }
    
    .footer__nav {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
      }
    
    .footer__nav-list {
        margin: 0;
        text-align: center;
        display: block;
      }
    
    .footer__logo {
        display: block;
        padding: 8px;
      }
    }