img {
  width: 100%;
  height: auto;
}

a {
  color: #55bbbb;
  text-decoration: none;
  font-size: 40px;
}

li {
  list-style: none;
}

body {
  color: #707070;
  line-height: 1.7;
}

.flex__item {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.common__ttl {
  font-size: 24px;
  font-weight: bold;
  position: relative;
}

.common__sub-ttl {
  font-size: 16px;
  font-family: "Shippori Mincho", serif;
  color: #ff4384;
}

/*--------------------- header--------------------- */

.header {
  height: 70px;
  line-height: 70px;
}

.header__logo {
  width: 150px;
  margin-left: 40px;
}

.header__nav {
  margin-right: 40px;
  font-weight: bold;
}

.header__nav-list li {
  margin-right: 25px;
}

.header__nav-list li:last-child {
  margin-right: 0;
}

.header__nav-list-link {
  height: 70px;
  display: inline-block;
}

.contact__btn {
  width: 300px;
  display: block;
  padding: 20px 0 20px;
  margin: 0 auto;
  background: #ff4384;
  border-radius: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  transition: 0.4s;
  position: relative;
}

/*--------------------- firstview--------------------- */

.firstview {
  position: relative;
}

.firstview__eyecatch {
  margin-left: 40%;
}

.firstview__content {
  position: absolute;
  top: 70px;
  left: 20%;
}

.firstview__content-eyecatch {
  font-family: "Indie Flower", cursive;
  color: #111111;
  font-size: 30px;
}

.change__clr {
  color: #55bbbb;
}

.chenge__size {
  font-size: 60px;
}

.firstview__content-sub-copy {
  font-size: 20px;
  color: #55bbbb;
  margin-top: 40px;
}

.listfirstview__content-txt {
  margin-top: 40px;
  color: #ff4384;
}

.balloon1 {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  color: #fff;
  font-size: 16px;
  background: #55bbbb;
}

.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #55bbbb;
}

.balloon1 p {
  margin: 0;
  padding: 0;
}

/*---------------------about--------------------- */

#about {
  background: #55bbbb;
  padding: 40px 0;
  margin-top: 30px;
}

.about__item-txt {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

/*---------------------point--------------------- */
#point {
  margin-top: 80px;
  background: #fff;
  padding: 40px 0;
}

.mybox {
  background: none;
  border: 1px solid #55bbbb;
  margin: 15px 10px;
  padding: 20px;
  position: relative;
}

.mybox:before {
  background-color: #fff;
  content: "POINT1";
  padding: 2px 10px;
  position: absolute;
  top: -10px;
  left: 30px;
  text-align: center;
}

/*---------------------footer--------------------- */

.footer {
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  margin-top: 80px;
}
